/* font-face start
----------------------------*/
@font-face
{ 
	font-family: 'Quicksand';
	src:url('../fonts/Quicksand-Bold.eot') format('eot'), 
		url('../fonts/Quicksand-Bold.svg') format('svg'), 	
		url('../fonts/Quicksand-Bold.ttf') format('ttf'), 
		url('../fonts/Quicksand-Bold.woff') format('woff'), 
		url('../fonts/Quicksand-Bold.woff2') format('woff2');
		font-weight: 700;
}



/* reset css start
----------------------------*/
*{ box-sizing:border-box;}
body{ padding:0; margin:0; scroll-behavior:smooth;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0}
figure{ padding:0; margin:0;}
img{margin: 0; padding: 0;max-width: 100%;}
ul,li{ text-decoration:none; display:inline; margin:0; padding:0;}
a{ text-decoration:none; text-decoration-line: none;display: inline-block; outline: none;}
a:hover{text-decoration:none; text-decoration-line: none; outline: none;}
p{ margin:0; padding:0}


/* default css
------------------------------*/

.flex-33
{
	display: flex;
	flex: 0 0 33.33%;
}


/* Header Section 
------------------------------*/
.pageHeader
{
	background-color: #232a3a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    display: flex;
    flex: 0 0 13%;
    max-width: 13%;
    padding: 20px 0px;
}
.pageHeader .logo figure img
{
	width: 100%;
    max-width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
i.fa.fa-bars:hover
{
	color: #76a8e3;
}
i.fa.fa-times
{
	position: fixed;
    z-index: 11;
    left: 6.5%;
    color: #76a8e3;
}
i.fa.fa-times:hover
{
	color: #fff;
}
.pageHeader i
{
	position: absolute;
	cursor: pointer;
    color: #fff;
    font-size: 30px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.pageHeader .nav-menu ul
{
	display: block;
}
.pageHeader .nav-menu ul li
{
	display: block;
}
.pageHeader .nav-menu ul li a
{
	color: #fff;
	font-size: 20px;
	padding: 20px 10px;
}
.pageHeader .nav-menu ul li a:hover
{
    color: #76a8e3;
}
.pageHeader .nav-menu
{
    position: fixed;
    top: 0;
    left: -35%;
    opacity: 1;
    z-index: 10;
    background-color: #232a3a;
    height: 100%;
    max-height: 100%;
	width: 100%;
	transition: 0.75s all;
    max-width: 35%;
    display: block;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Banner Section
------------------------------*/

.bannerSection
{
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 87%;
	max-width: 87%;
	margin: 0 auto;
	margin-right: 0;
	overflow: hidden;
}
.bannerSection .inner-section
{
	/*position: relative;
	overflow: hidden;
	display: flex;
	width: 33.33%;
	transition: all 0.5s ease;
	height: 100vh;*/
	height: 100vh;
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.poligon {
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: -50px;
    transform: skewX(-5deg);
    overflow: hidden;
    transform-origin: inherit;
    visibility: hidden;
    transition: all 0.5s ease;
}
.poligon1
{
	overflow: hidden;
    width: 100%;
    height: 100%;
	transform: skewX(10deg);
	transition: all 0.5s ease;
}
.poligon2
{
	width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
	transform: rotate(0deg);
	transition: all 0.5s ease;
}
.poligon2 img
{
	max-width: initial;
}
.bannerSection .inner-section figure img
{
	width: 100%;
	max-width: 100%;
	height: 100vh;
	display: flex;
	transform: scale(1.5);
	transition: all 0.5s ease;
}
.bannerSection .inner-section .caption
{
	position: absolute;
	top: 50%;
	/*left: 10%;*/
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	color: #fff;
	width: 100%;
	padding-left: 50px;
}
.bannerSection .inner-section .caption h3
{
	margin-bottom: 20px;
	font-size: 40px;
	position: relative;
}
.bannerSection .inner-section .caption h3:after
{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0%;
	width: 100%;
	height: 3px;
	background-color: #7aadee;
}

.bannerSection .inner-section .caption .inner-caption
{
	/* width: 0%; */
	/* overflow: hidden; */
	visibility: hidden;
	overflow: hidden;
	width: 100%;
}
.bannerSection .inner-section .caption .inner-caption p
{
	width: 400px; 
	/* visibility: hidden; */
	font-size: 20px;
}
.bannerSection .inner-section .caption .inner-caption p a
{
	margin-top: 10px;
	color: #fff;
}
.bannerSection .inner-section .caption .inner-caption p a:hover
{
	color: #76a8e3;
}


/* Footer Section
------------------------------*/
.pageFooter
{
	background-color: #232a3a;
	width: 100%;
	max-width: 87%;	
	padding: 10px 20px;
	margin: 0 auto;
	margin-right: 0;
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.pageFooter .rightFooter ul,li
{
	display: inline;
}
.rightFooter ul li a
{
	color: #fff;
	padding: 0px 20px;
}
.rightFooter ul li a:hover
{
	color: #76a8e3;
}


/* Media Queries 
------------------------------*/
@media(max-width: 991px)
{
	.bannerSection .inner-section .caption h3
	{
		font-size: 30px;
	}
	.bannerSection .inner-section .caption .inner-caption p
	{
		width: 300px;
	}
}
@media(max-width: 768px)
{
	.pageHeader
	{
		height: 20%;
		width: 100%;
	    max-width: 100%;
	}
	.pageHeader .logo figure img 
	{
	    width: 100%;
	    max-width: 40%;
	    margin-left: 30px;
	}
	.pageHeader i
	{
		top: 50%;
		left: 85%;
	}

	.pageHeader .nav-menu
	{
		max-width: 100%;
	}

	.bannerSection
	{
		flex-direction: column;
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.bannerSection .inner-section
	{
		width: 100%;
		height: 50vh;
	}

	.pageFooter
	{
		width: 100%;
		max-width: 100%;
	}
}